.seven-day-forecast-wrapper {
    display: grid;
    grid-template-columns: repeat(7, auto);
    margin: 100px 50px;
    color: var(--ivory);
}

@media screen and (max-width: 768px) {
    
    .seven-day-forecast-wrapper {
        grid-template-columns: repeat(1, auto);
        grid-template-rows: repeat(7, auto);
    }
}